<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gavin.module2">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bluetooth_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name="change_pin">
        </activity>
        <activity android:name=".new_pin">
        </activity>
        <activity android:name=".change_message">
        </activity>
        <activity android:name=".Scheduling">
        </activity>
        <activity android:name=".ChangePresets">
        </activity>
        <activity android:name=".ChangeMessagePresets">
        </activity>
        <activity android:name=".ChangePinPresets">
        </activity>
        <activity android:name=".NewPinPresets">
        </activity>
        <activity android:name=".SchedulingMessage">
        </activity>
        <activity android:name=".SchedulingPin">
        </activity>
    </application>

</manifest>